@import "tailwindcss";
/* src/styles/tailwind.css or your main CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

p{
    font-size: 18px;
}
button{
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Battambang&display=swap');

/* body {
    font-family: 'Battambang', sans-serif;
} */
/* 
body {
    font-family: 'Noto Sans Khmer', sans-serif;
} */

h1, h2, h3, h4 {
    font-family: 'Moul', sans-serif;
    font-weight: 700;
}
@import url('https://fonts.googleapis.com/css2?family=Content:wght@400;700&family=Noto+Serif+Khmer:wght@100..900&family=Odor+Mean+Chey&family=Siemreap&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Content:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Content:wght@400;700&family=Odor+Mean+Chey&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Content:wght@400;700&family=Odor+Mean+Chey&family=Siemreap&display=swap'); */
p, span {
    font-family: "Content", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: 'KhmerCustom';
    src: url('/fonts/Khmer-Busra-Regular.ttf') format('truetype');
}

p, span {
    font-family: 'KhmerCustom', sans-serif;
} */

/*  
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

.moul-text {
    font-family: 'Moul', sans-serif;
} */
