@import "tailwindcss";
/* src/styles/tailwind.css or your main CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

p{
    font-size: 18px;
}
button{
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Battambang&display=swap');

/* body {
    font-family: 'Battambang', sans-serif;
} */
/* 
body {
    font-family: 'Noto Sans Khmer', sans-serif;
} */

h1, h2, h3, h4 {
    font-family: 'Moul', sans-serif;
}


/* @font-face {
    font-family: 'KhmerCustom';
    src: url('/fonts/Khmer-Busra-Regular.ttf') format('truetype');
}

p, span {
    font-family: 'KhmerCustom', sans-serif;
} */

/*  
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

.moul-text {
    font-family: 'Moul', sans-serif;
} */
